$cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
$transition: 0.6s $cubic;
$size: 40px;
$font-01: "Roboto", sans-serif;

$m-01: rgb(209, 68, 68);
$m-02: #e7eff5;
$g-01: linear-gradient(225deg, #1a1a1d 0%, #2c2c2c 100%);
$g-02: linear-gradient(283deg, #d7837e 0%, #fb6161 100%);
$g-03: linear-gradient(225deg, #1b3898 0%, #2c2c2c 100%);
$g-04: linear-gradient(-225deg, #8f615f 0%, #fff 100%);
$btn: red;
$btn-back: #5a5854;

$neu-01: #f5f5f5;
$neu-02: #eaeaea;
$neu-03: #d2d2d2;
$neu-04: #b7b7b7;
$neu-05: #9c9c9c;
$neu-06: #404145;
$neu-07: #1c1c1e;